﻿@model SINLAB.Models.Mill

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeMill.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeMill.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MillId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
